h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}
input{
    width:100%;

}
.items-container{
    text-align: left;
    margin: 20px;
}
.row_mine{
    margin: 5px;
    text-decoration: dashed;
}